* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header div {
    border: 1px solid red;
}

/* nav button {
    border: 1px solid blue;
} */

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    display: block;
}
  
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a:hover {
    background-color: navy;
    color: #fff;
}
  
.dropdown:hover .dropdown-menu {
    display: block;
} 

main {
    height: 90vh;
    background-color: lightsalmon;
}

.capa-principal {
    display: flex;
    flex-direction: row;
    height: 85vh;
    background-color: #74caee;
}

#bloco-imagem {
    border: 1px solid purple;
}

#bloco-imagem img {
    height: 100%;
}

#bloco-texto {
    border: 1px solid blue;
    min-width: 30vw;
}

footer {
    background-color: #3d3d3d;
    min-height: 5vh;
    color: #fff;
}